* {
    margin: 0;
    padding: 0;
}

#app-container {
    width: 240px;
    height: 240px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    background-color: black
}

.tile {
    border: none;
    background-color: white;
}